<section class="features-container">
    <header class="features-header">
        <h6>
            <span>Our Main Features</span>

        </h6>
        <h2>Our Primary Features</h2>
        <p>Explore the core features that set us apart. Effortlessly create and design with tools that adapt to your
            needs and vision.</p>
    </header>

    <div class="features-grid">
        <article class="feature-item">
            <img src="/assets/featuresIcons/Lightning.png" alt="Lightning Fast">
            <h3 class="feature-title">Lightning Speed</h3>
            <p class="feature-text">Experience performance that’s faster than ever before, allowing you to stay ahead of
                the curve with ease.</p>
        </article>
        <article class="feature-item">
            <img src="/assets/featuresIcons/GearSix.png" alt="Customization">
            <h3 class="feature-title">Endless Customization</h3>
            <p class="feature-text">Shape your work environment to suit your unique style with powerful customization
                options.</p>
        </article>
        <article class="feature-item">
            <img src="/assets/featuresIcons/Broom.png" alt="Streamlined">
            <h3 class="feature-title">Streamlined Experience</h3>
            <p class="feature-text">Simplify complex workflows and improve productivity with our user-friendly
                interface.</p>
        </article>
        <article class="feature-item">
            <img src="/assets/featuresIcons/ChartLine.png" alt="Data Insights">
            <h3 class="feature-title">Insightful Analytics</h3>
            <p class="feature-text">Get deeper insights into your data, empowering you to make more informed decisions
                and strategies.</p>
        </article>
        <article class="feature-item">
            <img src="/assets/featuresIcons/BowlFood.png" alt="Ease of Use">
            <h3 class="feature-title">Effortless Use</h3>
            <p class="feature-text">Enjoy a seamless experience with intuitive tools that are easy to navigate and
                integrate.</p>
        </article>
        <article class="feature-item">
            <img src="/assets/featuresIcons/SmileyWink.png" alt="User-Friendly">
            <h3 class="feature-title">User-Centric Design</h3>
            <p class="feature-text">Our design is focused on creating a delightful and accessible experience for
                everyone.</p>
        </article>
    </div>
</section>