<section>
    <div class="landing-container">
        <header class="landing-content">
            <p class="gen-z">Design System For Gen Z</p>
            <h1 class="landing-title">Unleash Your Creativity, No Limits.</h1>
            <p class="landing-description">
                A bold, modern design system built for the next generation of creators. Elevate your ideas with seamless, stylish, and intuitive tools designed to match your vision.
            </p>
        </header>

        <nav class="app-store-buttons">
            <a href="#" class="app-store-button">
                <img src="/assets/icons/Button App Store (1).svg" alt="Download on the App Store" class="appStore">
            </a>
            <a href="#" class="app-store-button">
                <img src="/assets/icons/Button App Store@2x.png" alt="Get it on Google Play" class="googlePlay">
            </a>
        </nav>

        <figure class="dashboard-images">
            <img src="/assets/images/Desktop-min 1.svg" alt="Desktop Dashboard View" class="desktop-dashboard">
            <img src="/assets/images/MockUp.svg" alt="Mobile Dashboard View" class="mobile-dashboard hash">
        </figure>
    </div>
</section>
