
<section>
    <div class="landing-container">

        <div class="landing-content">
            <p class="gen-z">Design System For Gen Z</p>
            <h1 class="landing-title">Unleash Your Inner Design Sloth Today.</h1>
            <p class="landing-description">Suspendisse faucibus interdum posuere lorem ipsum dolor sit amet. Cras
                fermentum odio eu feugiat pretium nibh ipsum. Venientis nostrud sed tales.</p>
        </div>

        <div class="app-store-buttons">
            <a href="#" class="app-store-button">
                <img src="/assets/icons/Button App Store (1).svg" alt="App Store Icon" class="appStore">

            </a>
            <a href="#" class="app-store-button">
                <img src="/assets/icons/Button App Store@2x.png" alt="Google Play Icon" class="googlePlay">
            </a>
        </div>

        <div>
            <div class="dashboard-images">
                <img src="/assets/images/Desktop-min 1.svg" alt="Desktop Dashboard" class=" desktop-dashboard">
                <img src="/assets//images/MockUp.svg" alt="Mobile Dashboard" class=" mobile-dashboard hash">
            </div>
        </div>
    </div>
</section>