<div class="location-container">
    <div class="title-container">
        <h2>Visit Us Anytime</h2>
        
        <h1>Our Office</h1>
        <p class="note">You can visit our office anytime but please don't stalk us or don't be creepy.</p>
    </div>
    
    <ul class="office-grid">
        <li class="office-card">
            <img src="/assets/location/Vector.png" alt="location">
            <div class="country">Japan</div>
            <div class="address">22lb Banzai Street<br>Tokyo, TO 77812</div>
        </li>
        
        <li class="office-card">
            <img src="/assets/location/Vector.png" alt="location">

            <div class="country">USA</div>
            <div class="address">22lb Freedom Street<br>New York, NY 21231</div>
        </li>
        
        <li class="office-card">
            <img src="/assets/location/Vector.png" alt="location">

            <div class="country">Canada</div>
            <div class="address">22lb Maple Syrup Street<br>Ottawa, OW 77847</div>
        </li>
        
        <li class="office-card">
            <img src="/assets/location/Vector.png" alt="location">

            <div class="country">South Korea</div>
            <div class="address">22lb Samyang Street<br>Gangnam, QN 22124</div>
        </li>
    </ul>
</div>