<section class="testimonial-bg" style="background-color: #F8FAFC;">
    <div class="testimonial-container">
        <div class="title" >
            <h2>What People Say</h2>
            <p>You can visit our office anytime, but please don’t stalk us or don’t be creepy.</p>
        </div>
    
        <div class="testimonials">
            <div class="testimonial">
                <div class="stars">★★★★★</div>
                <p>Distinctively seize reliable opportunities through low-risk high-yield experiences. Efficiently leverage.Distinctively seize reliable opportunities through low-risk high-yield experiences. Efficiently leverage.</p>
                <div class="author">
                    <img src="https://picsum.photos/id/1/200/300" alt="User">
                    <div class="author-info">
                        <span>X_AE_A-13</span>
                        Product Designer, slothUI
                    </div>
                </div>
            </div>
            <div class="testimonial">
                <div class="stars">★★★★☆</div>
                <p>Accumsan tortor posuere ac ut consequat. Quis varius quam quisque id diam vel.Distinctively seize reliable opportunities through low-risk high-yield experiences. Efficiently leverage.</p>
                <div class="author">
                    <img src="https://picsum.photos/id/1/200/300" alt="User">
                    <div class="author-info">
                        <span>Saylor Twift</span>
                        Famous Singer
                    </div>
                </div>
            </div>
            <div class="testimonial">
                <div class="stars">★★★★★</div>
                <p>Sit amet est placerat. Blandit cursus risus at ultrices mi tempus imperdiet.Distinctively seize reliable opportunities through low-risk high-yield experiences. Efficiently leverage.</p>
                <div class="author">
                    <img src="https://picsum.photos/id/1/200/300" alt="User">
                    <div class="author-info">
                        <span>Mechatronics Yi</span>
                        CTO, fnWm.ai
                    </div>
                </div>
            </div>
            <div class="testimonial">
                <div class="stars">★★★☆☆</div>
                <p>Venatis cras sed felis eget velit aliquet.Distinctively seize reliable opportunities through low-risk high-yield experiences. Efficiently leverage. Ut scelerisque in dictum non.</p>
                <div class="author">
                    <img src="https://picsum.photos/id/1/200/300" alt="User">
                    <div class="author-info">
                        <span>Asuna Yuuki</span>
                        Virtual Swordsman
                    </div>
                </div>
            </div>
            <div class="testimonial">
                <div class="stars">★★★★★</div>
                <p>Cras fermentum odio Distinctively seize reliable opportunities through low-risk high-yield experiences. Efficiently leverage. eu feugiat pretium nibh ipsum consequat nisl.</p>
                <div class="author">
                    <img src="https://picsum.photos/id/1/200/300" alt="User">
                    <div class="author-info">
                        <span>Vermillion D. Gray</span>
                        CEO, hacklife.ai
                    </div>
                </div>
            </div>
            <div class="testimonial">
                <div class="stars">★★★★☆</div>
                <p> Distinctively seize reliable opportunities through low-risk high-yield experiences. Efficiently leverage. Viverra accumsan in nisl nisi scelerisque eu. Vitae congue eu consequat.</p>
                <div class="author">
                    <img src="https://picsum.photos/id/1/200/300" alt="User">
                    <div class="author-info">
                        <span>Zuckman Wu</span>
                        CEO, techlife.ai
                    </div>
                </div>
            </div>
            <div class="testimonial">
                <div class="stars">★★★★☆</div>
                <p> Distinctively seize reliable opportunities through low-risk high-yield experiences. Efficiently leverage. Viverra accumsan in nisl nisi scelerisque eu. Vitae congue eu consequat.</p>
                <div class="author">
                    <img src="https://picsum.photos/id/1/200/300" alt="User">
                    <div class="author-info">
                        <span>Zuckman Wu</span>
                        CEO, techlife.ai
                    </div>
                </div>
            </div>
            <div class="testimonial">
                <div class="stars">★★★★☆</div>
                <p> Distinctively seize reliable opportunities through low-risk high-yield experiences. Efficiently leverage. Viverra accumsan in nisl nisi scelerisque eu. Vitae congue eu consequat.</p>
                <div class="author">
                    <img src="https://picsum.photos/id/1/200/300" alt="User">
                    <div class="author-info">
                        <span>Zuckman Wu</span>
                        CEO, techlife.ai
                    </div>
                </div>
            </div>
            <div class="testimonial">
                <div class="stars">★★★★☆</div>
                <p> Distinctively seize reliable opportunities through low-risk high-yield experiences. Efficiently leverage. Viverra accumsan in nisl nisi scelerisque eu. Vitae congue eu consequat.</p>
                <div class="author">
                    <img src="https://picsum.photos/id/1/200/300" alt="User">
                    <div class="author-info">
                        <span>Zuckman Wu</span>
                        CEO, techlife.ai
                    </div>
                </div>
            </div>
        </div>
    </div>
</section class="testimonial-bg">